<!DOCTYPE html>
<html lang = "eng">
    <head>
        <meta charset="UTF-8">
        <title>My DRUD in NodeJS</title>
    </head>
    <body>

        <h2>Registrar</h2>
        <form action="/show" method="POST">
            <input type="text" placeholder="Nome" name="name">
            <input type="text" placeholder="Sobrenome" name="surname">
            <button type="submit">submit</button>
        </form>
        
    </body>
</html>